{% extends 'main_structure.html' %}
{% block scripts %}
{% endblock %}
{% block content %}
    <div class="row">
    {% csrf_token %}
        <div class="col-lg-7">
            <div id="map" style="height: 500px; width: 100%">
            </div>
        </div>
        <div class="col-lg-5" style="border:1px solid black;">
            <p>ID: <span id="traj-id"></span></p>
            <div id="charts">
                <label class="font-weight-bold">Point Feature</label>

                <select id="ddl-pf" class="form-control"></select>
                  <div class="row">
                    <div class="col-md-6">Mean: <span id="pf-mean"></span></div>
                    <div class="col-md-6">Median: <span id="pf-median"></span></div>
                </div>
                <div class="row">
                    <div class="col-md-6">Min: <span id="pf-min"></span></div>
                    <div class="col-md-6">Max: <span id="pf-max"></span></div>
                </div>
                <div class="row">
                    <div class="col-md-6">Std: <span id="pf-std"></span></div>
                    <div class="col-md-6">10th Percentile: <span id="pf-10p"></span></div>
                </div>
                <div class="row">
                    <div class="col-md-6">25th Percentile: <span id="pf-25p"></span></div>
                    <div class="col-md-6">50th Percentile: <span id="pf-50p"></span></div>
                </div>
                <div class="row">
                    <div class="col-md-6">75th Percentile: <span id="pf-75p"></span></div>
                    <div class="col-md-6">90th Percentile: <span id="pf-90p"></span></div>
                </div>
                <canvas id="pf-chart" height="200px" width="200px"></canvas>
            </div>
        </div>
    </div>
{% endblock %}