{% extends 'main_structure.html' %}
{% load static %}
{% block scripts %}
    <script>
        traj_original = JSON.parse('{{ trajectory | escapejs }}');
        layers = JSON.parse('{{ layers | escapejs }}');
        curr_pf = JSON.parse('{{ curr_pf | escapejs }}');
        segmentation_labels = {{ labels | safe }};
        console.log(traj_original);
        start_time = new Date();
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
          integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
            integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
            crossorigin=""></script>
    <script src='{% static 'js/plugins/RotatedMarker.js' %}'></script>
    <script src="{% static 'js/chart-iterator.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <link rel="stylesheet" href="{% static 'segmentation_control.css' %}"/>
    <script src="{% static 'js/plugins/decorator/leaflet.polylineDecorator.js' %}"></script>
    <script src="{% static 'js/plugins/decorator-legend.js' %}"></script>
    <script src="{% static 'js/plugins/full-layer-control.js' %}"></script>
    <script src="{% static 'js/plugins/play-trajectory-control.js' %}"></script>
    <script src="{% static 'js/plugins/MultiOptionsPolyline.js' %}"></script>
    <script src="{% static 'js/plugins/Segmentation-Control/segmentation_control.js' %}"></script>
    <script src="{% static 'js/semantic_layer.js' %}"></script>
    <script src="{% static 'js/trajectory_player.js' %}"></script>
    <script src="{% static 'js/charts.js' %}"></script>
    <script src='{% static 'js/segmentation/segmentation_setup.js' %}'></script>
    <script src='{% static 'js/segmentation/segmentation_creation.js' %}'></script>
    <script src="{% static 'js/plugins/notify.min.js' %}"></script>
    <script src="{% static 'js/plugins/buttons_control.js' %}"></script>
    <script>
        changed = false;
        $(function () {
            let segmentation = {{ segments|safe }};
            console.log(segmentation);
            $("#traj_pk").val(traj_original._id);
            add_starting_segmentation(segmentation);
            let previous = null, next = null;

            {% if previous != 'None' %}
                previous = "/segmentation/database/{{ db }}/{{ previous }}/";
            {% endif %}

            {% if next != 'None' %}
                next = "/segmentation/database/{{ db }}/{{ next }}/";
                {% else %}
                next = '/';
            {% endif %}

            create_button_control(previous, next);
            $("#btn-next").click(function (e) {
                e.preventDefault();
                console.log(segmentation_control);
                let values = segmentation_control.Point_Labels;
                let markers = [];
                let labels = [];
                let start_index = 0;
                for (let i = 1; i < values.length; i++) {
                    if (values[i] == null) {
                        $.notify("You must segment the whole trajectory before continuing", "error");
                        return;
                    }
                    if (values[i] != values[i - 1]) {
                        markers.push({'start_index': start_index, 'end_index': i - 1, 'label': values[i - 1]});
                        start_index = i;
                    }
                }

                if (!changed) {
                    window.location.href = e.target.href;
                }
                //markers.push(values.length - 1);
                console.log(markers);
                markers.push({
                    'start_index': start_index,
                    'end_index': values.length - 1,
                    'label': values[values.length - 1]
                });
                let token = $('[name="csrfmiddlewaretoken"]').val();
                let id = $("#traj_pk").val();
                $.post('/segmentation/submit/', {
                    'id': id,
                    'csrfmiddlewaretoken': token,
                    'marker_locations': JSON.stringify(markers),
                    'start_time': start_time.toUTCString(),
                    'end_time': (new Date()).toUTCString()
                }, function (data) {
                    console.log(data);
                    window.location.href = e.target.href;
                });
            });
        });
    </script>
{% endblock %}
{% block content %}
    <input id="traj_pk" type="hidden" value="{{ trajectory.pk }}"/>
    {% csrf_token %}

    <div class="container-fluid p-0"><!--Add p-0 to class to remove the padding on the left and right-->

        <div class="row no-gutters">
            <div class="col-lg-7" id="map-section">
                <div id="map">
                </div>

            </div>
            <div class="col-lg-5" id="charts-section" style="border:1px solid black;">
                <div id="top-section">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="text-center">Trajectory Details ({{ curr_index }} of {{ size }})</h5>
                            <!--<p><span class="font-weight-bold">ID:</span> <span id="traj-id"> </span></p>-->
                            <p><span class="font-weight-bold">Number of Points:</span> <span id="traj-tp"></span></p>
                            <p><span class="font-weight-bold">Total Distance Travelled:</span> <span
                                    id="traj-td"></span> meters
                            </p>
                            <p><span class="font-weight-bold">Average Sampling Rate:</span> <span id="traj-as"></span>
                                seconds
                            </p>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <button id="btn-swap" class="btn btn-success" value="scatter">Display Scatter Plot</button>
                        <!--<button id="btn-log-normal" class="btn btn-primary" value="log">Display Log Scale</button>-->
                    </div>
                    <!-- <div id="charts"></div>-->
                </div>
                <div id="line-graph">
                    <div id="pf-section">
                        <div class="row no-gutters">
                            <div class="col-md-3 align-self-center">
                                <span class="font-weight-bold"> Point Feature:</span>
                            </div>
                            <div class="col-md-9">
                                <select id="ddl-pf" class="form-control">
                                    {% for pf in point_features %}
                                        <option value="{{ pf.id }}">{{ pf.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <p id="pf-title" class="font-weight-bold text-center">Point Feature Chart</p>
                    <div class="text-center" id="legend">
                        <div class="label-box"></div>
                        unlabelled
                    </div>
                    <canvas id="pf-chart"></canvas>

                </div>
                <div id="scatter-graph" style="display: none;">
                    <div id="xy-section">
                        <div class="row">
                            <div class="col-md-2 align-self-center">
                                <span class="font-weight-bold">X-Axis:</span>
                            </div>
                            <div class="col-md-10">
                                <select id="ddl-xaxis" class="form-control input-sm">
                                    {% for pf in point_features %}
                                        <option value="{{ pf.id }}">{{ pf.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 align-self-center">
                                <span class="font-weight-bold">Y-Axis:</span>
                            </div>
                            <div class="col-md-10">
                                <select id="ddl-yaxis" class="form-control">
                                    {% for pf in point_features %}
                                        <option value="{{ pf.id }}">{{ pf.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <canvas id="scatter-chart"></canvas>
                </div>
            </div>
        </div>
    </div>
{% endblock %}