{% extends 'main_structure.html' %}
{% load static %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
    <script src="{% static 'loadCharts.js' %}"></script>
    <script>
        pf_chart = null;
        sf_chart = null;
        $(function () {
            let user_data = {{ user_data | safe }};
            let classes = {{ labels |safe }};
            let user_emails = {{ users | safe }};
            let features = {{ features | safe }};
            console.log(user_data);
            for (let i = 0; i < features.length; i++) {
                $("#point-feat-dropdown").append(`<option value="${features[i]}">${features[i]}</option>`);
                $("#segment-feat-dropdown").append(`<option value="${features[i]}">${features[i]}</option>`);
            }

            $("#point-feat-dropdown").change(function (e) {
                let value = e.target.value;
                pf_chart.data.datasets = build_dataset('point_features', value);
                pf_chart.update();
            });
            $("#segment-feat-dropdown").change(function (e) {
                let value = e.target.value;
                sf_chart.data.datasets = build_dataset('segment_features', value);
                sf_chart.update();
            });
            $("#log-charts").click(function (e) {
                console.log(pf_chart.data.datasets);
                console.log(sf_chart.data.datasets);
            })

            function build_dataset(chart_type, feature) {
                let contrasting_colours = ['#e6194b', '#3cb44b', '#ffe119', '#4363d8', '#f58231', '#911eb4', '#46f0f0',
                    '#f032e6', '#bcf60c', '#fabebe', '#008080', '#e6beff', '#9a6324', '#fffac8', '#800000', '#aaffc3',
                    '#808000', '#ffd8b1', '#000075', '#808080', '#ffffff', '#000000'];

                let dataset = [];
                for (let j = 0; j < classes.length; j++) {
                    let data = [];
                    let sum = 0;

                    let avg_list = [];
                    for (let i = 0; i < user_emails.length; i++) {
                        let feat_val = user_data[user_emails[i]][chart_type][classes[j]][feature];
                        data.push(feat_val);
                        sum += feat_val;
                        avg_list.push(0);
                    }
                    let avg = sum / user_emails.length;

                    avg_list.fill(avg, 0, user_emails.length);
                    dataset.push({
                        'label': classes[j],
                        'data': data,
                        backgroundColor: contrasting_colours[j]
                    });
                    dataset.push({
                        'label': classes[j] + " Average",
                        'data': avg_list,
                        borderDash: [5, 5],
                        'type': 'line',
                        'fill': 'none',
                        backgroundColor: contrasting_colours[j]


                    });

                }
                console.log(dataset);
                return dataset;
            }

            let d = {
                'labels': user_emails,
                'datasets': build_dataset('point_features', $('#point-feat-dropdown').val())
            };
            let d2 = {
                'labels': user_emails,
                'datasets': build_dataset('segment_features', $('#segment-feat-dropdown').val())
            }

            pf_chart = loadBarChart("#pf-chart", "Point Feature Summary", d);
            sf_chart = loadBarChart("#tf-chart", "Trajectory Feature Summary", d2);

        });
    </script>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <h2 class="text-center">Session Summary</h2>
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <div class="row no-gutters">
                    <div class="col-lg-3 align-self-end">
                        <label class="font-weight-bold">Point Feature</label>
                    </div>
                    <div class="col-lg-9">
                        <select id="point-feat-dropdown" class="form-control">

                        </select>
                    </div>
                </div>

                <canvas id="pf-chart" height="200px"></canvas>
            </div>
            <div id="tf-charts" class="col-lg-6">
                <div class="row no-gutters">
                    <div class="col-lg-3 align-self-end">
                        <label class="font-weight-bold">Segment Feature</label>
                    </div>
                    <div class="col-lg-9">
                        <select id="segment-feat-dropdown" class="form-control">

                        </select>
                    </div>
                </div>
                <canvas id="tf-chart" height="200px"></canvas>
            </div>
        </div>
    </div>
{% endblock %}