<h2 class="text-center">Upload POIs and ROIs</h2>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="font-weight-bold">Upload POIs and ROIs</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="semantic-file" name="semantic-files" multiple>
                <label class="custom-file-label" for="semantic-files">Choose file</label>

            </div>
            <label for="semantic-file-list" class="font-weight-bold">Files to Upload (geojson files only)</label>
            <select id="semantic-file-list" name="semantic-file-list" class="form-control" multiple></select>
        </div>

    </div>
    <div class="col-md-6">
        <table id="semantic-tables" class="table">
            <tr>
                <th>File Name</th>
                <th>Layer Name</th>
            </tr>
        </table>
    </div>
</div>
{% if layers|length > 0 %}
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for s in layers %}
            <tr>
                <td>{{ s.id }}</td>
                <td>{{ s.name }}</td>
                <td>{{ s.type }}</td>
                <td><a href="/management/delete/layer/{{ s.id }}/" class="btn btn-danger btn-delete">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
<hr>
<div class="row">
    <div class="col align-self-start">
        <button type="button" id="btn-previous" class="btn btn-primary">Previous</button>
    </div>
    <div class="col align-self-end">
        <button type="button" id="btn-next2" class="btn btn-primary float-right btn-next">Next</button>
    </div>
</div>
